# Chapter 1 - Session 1
# Fundamentals of Python

## Objectives
#### learn how to write simple code to do simple calculations

## Content
#### 1) First Code in Python - Print and Input
#### 2) Comments in Code
#### 3) Variables
#### 4) Data Types - Numbers and String

<hr>

# 1) First Code in Python - Print and Input

In [1]:
print("My first code.")

My first code.

In [28]:
name = input('What is your name : ')
print("your name is: ")
print(name)

What is your name : lakmal
your name is:
lakmal

# 2) Comments in Code
They are added with the purpose of making the source code easier for humans to understand, They are ignored when program is running

In [1]:
# This is single line comment

'''
This is multi line comment
Line 1
Line 2
'''

print('Hello World!')

Hello World!

# 3) Variable

In [6]:
x = 10 
y = "Lao"
print(x)
print(y)

10
Lao

### Rules for Python variables
A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Name and Name are three different variables)

# 4) Data Types - Numbers and Strings

### Numbers : represent numerical values
- Integer - Examples: 5, 6000, 80, -1, -15, -5890, 0
- Floats - Examples: -3.5, -400.8945, 50.1547
- Complex Numbers - Examples: -3 + 2j, 10 + 1584j
- Booleans - True, False

In [4]:
x1 = 10
x2 = 15.4
x3 = 3+5j
x4 = True

print(x1)
print(type(x1))
print(x2)
print(type(x2))
print(x3)
print(type(x3))
print(x4)
print(type(x4))

10
<class 'int'>
15.4
<class 'float'>
(3+5j)
<class 'complex'>
True
<class 'bool'>

### Operations between 2 numbers

In [5]:
x = 5
y = 17

print(x+y) #Adding

print(x-y) #Substracting

print(x*y) #multiplication

print(y/x) #division

print(y%x) #modulo operation

print(x**2) #power

22
-12
85
3.4
2
25

### Exercise 1

Write code to evaluate function : 2*X^5 + 5*X^4 + 4*X^2 + 14 at X = 15, X = -2 and X = 0

### Strings : represent text
String in python are surrounded by either single quotation or double quotation.

'hello world' is the same as "hello world"

In [25]:
x = "My name is "
y = "Jhon"
z =  x + y
print(z)

My name is Jhon

In [6]:
a = "Hello, World!"

'''string indexing
first character is index zero, second character is index one, etc....
'''
print(a[1])
print(a[2:5])

'''Common operations with strings'''
print(a.strip()) # removes any whitespace
print(a.lower()) # returns the string in lower case
print(a.upper()) # returns the string in upper case
print(a.replace("H", "J")) # replace characters
print(a.split(",")) # split string by a character

e
llo
Hello, World!
hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']

### Converting between Data Types (Casting)

sometimes, we have to force some data to be a particular data type. as example, when we input something to a program, usually it comes as a text (string). so if we want to perform calculations on that, we have to convert that in to a numerical type such as int / float

In [47]:
a = int(10.15)
b = int("5")

print(a, type(a))
print(b, type(b))

print('\n---------------------\n')

a = float(12)
b = float("15.9")

print(a, type(a))
print(b, type(b))

print('\n---------------------\n')

a = str(5)
b = str(4.5)

print(a, type(a))
print(b, type(b))

10 <class 'int'>
5 <class 'int'>

---------------------

12.0 <class 'float'>
15.9 <class 'float'>

---------------------

5 <class 'str'>
4.5 <class 'str'>

### Exercise 2 
Create a simple code to input 3 strings and return string that concatenating those 3 inputs

### Exercise 3
Create a simple code to input 2 values and return summation of those 2 values

### Exercise 4
Create a simple code to input a radius of a circle and return the area and circumference of that circle

### Exercise 5
Create a simple code to convert 24 hour clock to 12 hour clock. (No need to print AM, PM, just print hour in 12 hour clock)


Example: input 16 output 4